@import 'https://fonts.googleapis.com/css?family=Alegreya|Crete+Round|Open+Sans';
*{
	padding: 0;
	margin: 0;
	transition: all .5s ease-in-out;
	font-family: 'Alegreya', serif;
}
h1,h2,h3,h4,h5,h6{
	color: #fafafa;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}
ul,li,ol,a{
	text-decoration: none;
	list-style: none;
	color: #333;
	font-family: 'Crete Round', serif;
}
p{
	color: #fafafa;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
}
.img-responsive{
	width: 100%;
}
.wrap{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	background: #0d1d31;
}
#map{
	width: 100%;
	height: 500px;
}
.content{
	padding-top: 10%;
	padding-left: 5%;
	position: relative;
	z-index: 9;
	width: 100%;
}
.content .card{
	background: #0d1d31;
	padding: 20px;
}
.content .card .title i, .heading i{
	margin-right: 5px;
	background-color: #fafafa;
	padding: 10px;
	border-radius: 10px;
	color: #dc143c;
}
.content .card .btn{
	margin-top: 10px;
}
.btn{
	background-color: #dc143c;
}
.btn:hover{
	background-color: #dd153d;
}
form{
	margin: 4% 0 !important;
	padding: 20px !important;
}
.heading{
	margin-top: 5% !important;
}
footer{
	background-color: #222d2f !important;
}
@media only screen and (max-width:1024px) {
	.content{
		width: 100%;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.content .card{
		padding: 10px;
	}
}