@import 'https://fonts.googleapis.com/css?family=Alegreya|Crete+Round|Righteous';
*{
	padding: 0;
	margin: 0;
	transition: all .5s ease-in-out;
	font-family: 'Alegreya', serif;
}
a,ul,li,ol{
	list-style: none;
	text-decoration: none;
}
body{
	background-color: #0d1d31;
}
.img-responsive{
	width: 100%;
}
.btn{
	background-color: #dc143c !important;
}
.btn.red{
	background-color: #0d1d31 !important;
}
.wrapper{
	-ms-transform: translateY(10%);
	-webkit-transform: translateY(10%);
	transform: translateY(10%);
}
.wrapper > .row{
	margin: 0 10px;
}
.card-content a{
	text-align: center;
	margin: 5px 0;
	width: 100%;
}
#eventcanvas{
	width: 100%;
	height: 100%;
	z-index: -2;
	position: absolute;
	bottom: 0;
	left: 0;
}
.card-action a{
	color: #333 !important;
}
footer{
	background-color: #0d1d31 !important;
}
@media only screen and (max-width:1024px) {
	.wrapper{
		-ms-transform: translateY(2%);
		-webkit-transform: translateY(2%);
		transform: translateY(2%);
	}
}