@import 'https://fonts.googleapis.com/css?family=Righteous|Open+Sans';
*{
	padding: 0;
	margin: 0;
	transition: all .5s ease-in-out;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color: #fafafa;
	font-weight: bold;
}
p{
	font-size: 1.3em;
}
h6, p{
	color: #fafafa !important;
}
.loaded{
	overflow: auto !important;
}
.loaded .loader{
	transform: translateY(-100%);
	transition: all .5s ease-in-out;
}
.red{
	background-color: #fafafa !important;
}
.red i{
	color: #dc143c !important;
}
.img-responsive{
	width: 100%;
}
.block{
	display: block;
}
.inline{
	display: inline-block;
}
footer h6{
	width: calc(50% - 3px);
	padding: 0 5%;
}
.righttext{
	text-align: right;
}
body{
	background-color: #0d1d31;
}
.container{
	padding: 5% !important;
}
.container .s12 .card{
	background-color: #dc143c;
}
.title .card{
	padding: 5px 10px;
}
.card-title{
	background-color: rgba(34,34,34,.8);
}
.tr{
	text-align: right;
}
.tr i{
	color: #fafafa;
}

.heading{
	margin: 20px 0;
}
.heading i{
	margin-right: 5px;
	background-color: #fafafa;
	padding: 10px;
	border-radius: 10px;
	color: #dc143c;
}
.card-content p{
	font-size: .9em;
}
.height{
	width: 100%;
	height: 20px;
}
footer{
	background-color: #0d1d31 !important;
}
@media only screen and (max-width:1024px) {
	footer .righttext{
		display: none;
	}
	.fixed-action-btn.horizontal ul li{
		margin: 10px 5px 0 0;
	}
}